<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-megamatcher"
        version="1.0.0">

    <name>MegaMatcherPlugin</name>
    <description>Plugin personalizado para integração com o SDK MegaMatcher</description>
    <license>MIT</license>
    <keywords>cordova, megmatcher, biometrics, recognition</keywords>
    <repo>https://github.com/CallyelAlves/test_sdk_plugin.git</repo>

    <js-module src="www/megaMatcherPlugin.js" name="MegaMatcherPlugin">
        <clobbers target="MegaMatcherPlugin" />
    </js-module>
    
    <platform name="android">
        <source-file src="src/android/MegaMatcherPlugin.java" />
    </platform>
    <platform name="ios">
        <source-file src="src/ios/MegaMatcherPlugin.swift" />
    </platform>
</plugin>
