<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-megamatcher"
        version="1.0.0">

    <name>MegaMatcherPlugin</name>
    <description>Plugin personalizado para integração com o SDK MegaMatcher</description>
    <license>MIT</license>
    <keywords>cordova, megmatcher, biometrics, recognition</keywords>
    <repo>https://github.com/CallyelAlves/test_sdk_plugin.git</repo>

    <js-module src="www/megaMatcherPlugin.js" name="MegaMatcherPlugin">
        <clobbers target="megaMatcherPlugin" />
    </js-module>
    
    <platform name="android">
        <source-file src="src/android/src/main/java/com/neurotec/tutorials/megamatcherid/FaceChecks.java" target-dir="src/com/neurotec/tutorials/megamatcherid"/>
        <source-file src="src/android/src/main/java/com/neurotec/tutorials/utils/BaseActivity.java" target-dir="src/com/neurotec/tutorials/utils"/>
        <source-file src="src/android/src/main/java/com/neurotec/tutorials/utils/ToastManager.java" target-dir="src/com/neurotec/tutorials/utils"/>
        <source-file src="Bin/Android/neurotec-mega-matcher-id-client-android.jar" target-dir="libs/" />
        <source-file src="Bin/Android/mega-matcher-id-rest-client.jar" target-dir="libs/" />
        <!-- <framework src="libs/neurotec-mega-matcher-id-client-android.jar" custom="true" />
        <framework src="libs/mega-matcher-id-rest-client.jar" custom="true" /> -->
        <lib-file src="Bin/Android/neurotec-mega-matcher-id-client-android.jar" />
        <lib-file src="Bin/Android/mega-matcher-id-rest-client.jar" />
    </platform>
    <platform name="ios">
        <source-file src="src/ios/MegaMatcherPlugin.swift" />
    </platform>
</plugin>
